@mixin clearfix {
  &:before,
  &:after {
      content: "";
      display: table;
  }
  &:after {
      clear: both;
  }
  & {
      zoom: 1; /* For IE 6/7 (trigger hasLayout) */
  }
}

@mixin hex-eye($color) {
  border-top-color: $color;
  border-bottom-color: $color;

  .hexLeft {
    border-left-color: $color;
    border-bottom-color: $color;
  }

  .hexRight {
    border-top-color: $color;
    border-right-color: $color;
  }
}

@mixin hexagon($height, $borderWidthUnit, $borderWidth){
  $sqrt3: 1.73205081;
  $sqrt2: 1.41421356;
  $width: $height / $sqrt3;
  $capHeight: $height / $sqrt2;
  $scaleFactor: 0.577350269;
  $borderOffset: $borderWidth/$sqrt3;
  $offset: $height/$sqrt2/2;
  $newHeight: $height/1.73205081;

  position: relative;
  width: $width;
  height: $height;
  margin: 0 $height/2;
  background-size: $newHeight*2 - $borderOffset*4 auto;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border-top: solid $borderWidth transparent;
  border-bottom: solid $borderWidth transparent;

  &:after {
    content: "";
    position: absolute;
    left: $borderWidth * $scaleFactor;
    bottom: 0;
    height: $height - $borderWidth*2;
    width: $newHeight - $borderWidth*$scaleFactor*2;
    z-index: 2;
    background: inherit;
  }

  .hexLeft,
  .hexRight {
    position: absolute;
    z-index: 1;
    width: $capHeight;
    height: $capHeight;
    overflow: hidden;
    //Math.tan(30 * PI/180)
    transform: scaleX($scaleFactor) rotate(45deg);
    background: inherit;
    bottom: ($height - $capHeight)/2 - $borderWidthUnit;
    box-sizing: border-box;
  }

  .hexLeft:after,
  .hexRight:after {
    content: "";
    position: absolute;
    height: $height - ($borderWidth * 2);
    width: $newHeight - ($borderWidth * $scaleFactor * 2);

    transform: rotate(-45deg) scaleX(1/$scaleFactor) translateX(($newHeight*-1)/2 + $borderOffset);
    transform-origin: 0 0;
    background: inherit;
  }

  .hexLeft {
    left: $offset*-1;
    border-left: solid ($borderWidth * 1.41421356) transparent;
    border-bottom: solid ($borderWidth * 1.41421356) transparent;
  }

  .hexLeft:after {
    background-position: left center;
  }

  .hexRight {
    right: $offset*-1;
    border-top: solid ($borderWidth * 1.41421356) transparent;
    border-right: solid ($borderWidth * 1.41421356) transparent;
  }

  .hexRight:after {
    background-position: right center;
  }
}
