@import '../../styles/mixins';

.hexagon2 {
  $size: 160px;
  @include hexagon($size, 10, 10px);
  background-color: transparent;
  transition: transform 0.3s ease;
  margin: 0 29px;
  z-index: 2;

  $colors: (
    pink: #cb3483,
    orange: #d5722e,
    yellow: #e0ae3b,
    blue: #2776d5,
    purple: #883483,
    green: #079748,
    sea: #237fb3,
    red: #d03b46
  );

  @each $color, $colorCode in $colors {
    &.hex-#{$color} {
      border-top-color: $colorCode;
      border-bottom-color: $colorCode;

      &:hover {
        background: $colorCode!important;
      }

      .hexLeft {
        border-left-color: $colorCode;
        border-bottom-color: $colorCode;
      }

      .hexRight {
        border-top-color: $colorCode;
        border-right-color: $colorCode;
      }
    }
  }

  &:hover {
    transform: scale(1.1);

    .hexagon-content {
      opacity: 1;
    }
  }

  &.hexagon2-blue {
    border-top-color: #2776d5;
    border-bottom-color: #2776d5;

    .hexLeft {
      border-left-color: #2776d5;
      border-bottom-color: #2776d5;
    }

    .hexRight {
      border-top-color: #2776d5;
      border-right-color: #2776d5;
    }

    &:hover {
      background-image: none!important;
      background-color: #2776d5;
    }
  }


  &.hex-blue-nohover {
    border-top-color: #2776d5;
    border-bottom-color: #2776d5;

    .hexLeft {
      border-left-color: #2776d5;
      border-bottom-color: #2776d5;
    }

    .hexRight {
      border-top-color: #2776d5;
      border-right-color: #2776d5;
    }
  }

  &.hex-orange-nohover {
    @include hex-eye(#de4c00);
  }

  &.hex-green-nohover {
    @include hex-eye(#388e3c);
  }

  .hexagon-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    z-index: 3;
    color: #fff;
    width: $size;
    opacity: 0;
    transition: all 0.3s ease;
  }

  h5 {
    font-size: 0.95em;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: -17px;
      left: 50%;
      width: 10px;
      height: 10px;
      background: #fff;
      border-radius: 50%;
      transform: translateX(-50%);
    }
  }

  p {
    position: relative;
    z-index: 43;
    font-size: 0.9em;
  }
}

.hexagon-row {
  display: flex;
  margin: 0 auto 13px;
  width: 910px;

  .hexagon-wrapper:nth-child(even) {
    position: relative;
    transform: translateY(50%);
  }
}
